:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(255, 255, 255);
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button {
  background-color: #ffffff;
}

.header {
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.container {
  max-width: 25rem;
  margin: auto;
  padding: 2rem;
  background-color: #4daa57;
  border-radius: 5px;
  box-shadow: 10px 10px 26px 0px rgba(0, 0, 0, 0.35);
  position: relative;
}

.add-item-box {
  background: #ffffff;
  margin-top: 5%;
  margin-bottom: 5%;
  align-items: center;
  border-radius: 7px;
  padding: 5px;
  display: flex;
}

.add-item-box input {
  flex: 1;
  padding: 8px 15px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.items-list {
  width: 15rem;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
}

.save-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px;
}

.save-button:hover {
  background-color: #45a049;
}

.items-number {
  width: 5rem;
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  font-size: 17px;
}

button {
  background-color: white;
  font-size: 10px;
  font-weight: bold;
}



